:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    /* Variables para modo oscuro (por defecto) */
    --color-letra: rgba(255, 255, 255, 0.87);
    --color-fondo: #313E51;
    --color-opciones: #3b4d66;
    --color-complementos: #a72af5;
    --color-blanco: #ffff;
    --color-literales: #313E51;

    color-scheme: light dark;
    color: var(--color-letra);
    background-color: var(--color-fondo);

    font-synthesis: style;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Inicia estilos generales */
html {
  box-sizing: border-box;
 
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    width: 80%;
    margin: 2.5rem auto;
    
    padding: 0;
    font-family: 'Rubik', sans-serif;
    
}
/*Termina estilos generales */

/* Inicia estilos modo claro */
.modo-claro {
  background-color: #dee2ea;
  color: #1a1a1a;
}

.modo-claro .selector-tema__btn,
.modo-claro .quiz-opciones__respuesta {
  background-color: #ffffff;
  color: #1a1a1a;
}

.modo-claro .contenedor-quiz__pregunta,
.modo-claro .quiz-opciones__contenedor,
.modo-claro .econtenedor-quiz__contador,
.modo-claro .contenedor__puntaje {
  color: #1a1a1a;
}

.modo-claro .quiz-opciones__literal,
.modo-claro .contenedor__puntaje{
  background-color: #f4f6fa;
  color: #626c7f;
}
/* Termina estilos modo claro */

/*Inicia estilos header e interruptor */
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    
}

.header__tema-actual {
    display: flex;
    align-items: center;
    visibility: hidden;
    gap: 1rem;
}

.header__modo-oscuro {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header__interruptor {
    display: inline-block;
    position: relative;
    width: 2.5rem;
    height: 1.5rem;
}

.header__interruptor input {
    display: none;
}

.header__deslizador {
    background-color: var(--color-complementos);
    position: absolute;
    inset: 0;
    cursor: pointer;
    transition: 0.4s;
}

.header__deslizador:before {
    background-color: var(--color-blanco);
    bottom: 0.25rem; 
    content: "";
    height: 1rem;
    left: 0.25rem;  
    position: absolute;
    transition: 0.4s;
    width: 1rem;
}

input:checked + .header__deslizador:before {
    transform: translateX(1rem);
}

.header__deslizador--redondo {
    border-radius: 9rem;
}

.header__deslizador--redondo:before {
    border-radius: 50%;
}

.header__icono-sol,
.header__icono-luna {
    width: 1.25rem;
    height: 1.25rem;
}
/*Termina estilos header e interruptor */

/*Inicia estilos pantalla inicial */
.pantalla{
    display: grid;
    gap: 3rem;
    margin-top: 2rem ;
    /* padding: 1rem 3rem;   */
}

.pantalla__bienvenida h1{
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
}

.pantalla__bienvenida h1 span{
    font-weight: bold;
}

.selector-tema{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: .5rem; 
}
.selector-tema__icono {
    height: 2rem;          
    aspect-ratio: 1 / 1;
    flex-shrink: 0;        
}
.selector-tema__btn{
    display: flex;
    border: none;
    border-radius: .75rem;
    align-items: center; 
    gap: 0.75rem;   
    width: 100%;
    cursor: pointer;
    background-color: var(--color-opciones);
    padding: 1rem;
    text-align: left;
    font-size: 1.125rem;
    font-weight: bold;
}
/*Termina estilos estilos pantalla inicial*/

/*Inicia estilos estilos pantalla de quizz*/
/* Estilo preguntas inicia*/
.contenedor-quiz{
    display: grid;
    gap: 3rem;
    margin-top: 2rem;
    grid-template-rows: 1fr;
    /* padding: 1rem 3rem; */
}

.contenedor-quiz__titulo{
    font-size: 2rem;
}

.contenedor-quiz__preguntas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.contenedor-quiz__contador {
    color: #9cafcd;
}
.contenedor-quiz__pregunta{
    font-family: 'Outfit', sans-serif;
}

.contenedor-quiz__barra {
  width: 100%;
  height: .4rem;
  background-color:var(--color-blanco);
  border-radius: 1rem;
  overflow: hidden;
}

.contenedor-quiz__barra-relleno {
  height: 100%;
  background-color: var(--color-complementos);
  width: 0%;
  transition: width 0.3s ease-in-out;
}
#contenedorPreguntas {
  display: none;  /* Para ocultar el contenedor quizz */
}

/* Estilo preguntas finaliza */

/* Estilo respuestas inicia*/
.quiz-opciones__contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.quiz-opciones__respuesta{
    display: flex;
    gap: 2rem;
    width: 100%;
    border-radius: .5rem;
    background-color: var(--color-opciones);
    padding: 1rem;
    cursor: pointer;

}

.quiz-opciones__respuesta:hover{
    background-color: #445773;
}

.quiz-opciones__respuesta.activa {
  background-color: #4a607f; /* o cualquier color */
  
}

.quiz-opciones__respuesta label{
    cursor: pointer;
}
.quiz-opciones__literal{
    color: var(--color-literales);
    margin: 0;
    background-color: var(--color-blanco);
    text-align: center;
    padding: .1rem .4rem;
    border-radius: .2rem;
}

input[type="radio"] {
    position: relative;
    display: none;
}

input[type=radio]:checked ~ .option {
    background: paleturquoise;
}

.quiz-opciones__boton {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
}

.quiz-opciones__boton button {
    width: 100%;
    border-radius: 10px;
    border: none;
    background: var(--color-complementos);
    cursor: pointer;
    outline: none;
    padding: 1rem;
}
/* Estilo respuestas finaliza*/

/*EStilo de barra de preguntas*/
.contenedor-quiz__barra-relleno{
  width: 0%;
  
}

/*Tarjeta de juego Finalizado*/
 
  
  .encabezado_carta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #d0b3ff;
    margin-bottom: 24px;
  }
  
  .encabezado_carta .icon {
    font-size: 24px;
    background-color: #d0b3ff;
    color: #1c2333;
    border-radius: 6px;
    padding: 4px 8px;
  }
  
  .encabezado_carta .toggle {
    width: 32px;
    height: 16px;
    background: #a259ff;
    border-radius: 10px;
    position: relative;
  }
  
  .contenedor__resultados{
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 2rem;
  }
  .contenedor__informacion{
    margin-bottom: 2rem;
  }
  .quiz__finalizado {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .texto__puntaje {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  
  .contenedor__puntaje {
    background-color: var(--color-opciones);
    border-radius: 12px;
    text-align: center;
    padding: 1rem;
    
  }
  
  .score {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 1rem 0;
  }
  
  .boton__jugar {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--color-complementos);
    border: none;
    border-radius: .5rem;
    color: var(--color-blanco);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .boton__jugar:hover {
    background-color: #8b3dff;
  }
  
/* Estilo responsive tamaño minimo de pantalla de tablet */
@media (min-width: 768px ) {
    body{
        width: 70%;
    }

    .pantalla{
        grid-template-columns: repeat(2, 1fr);

    }

    .contenedor-quiz{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        grid-template-rows: none;

        
    }
    .contenedor-quiz__seccion{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .contenedor__resultados{
        grid-template-rows: none;
        gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
  }
    
}
